.card {
  padding: 10px;
}

li {
  list-style-type: none;
  cursor: pointer;
  margin: 10px 0;
}

li .card:hover {
  border: 1px solid white;
  background-color: rgb(3, 155, 3);
  color: white;
  font-weight: bold;
}

ol {
  padding: 0;
}
