<div class="container mt-2">
  <div class="card">
    <div class="d-flex justify-content-between p-2">
      <div class="quiz-header">
        <h4>Malaysian Chronicles Quiz</h4>
        <span>MYQuest</span>
      </div>

      <ng-container
        *ngIf="!quizCompleted && questionList?.questions?.length > 0"
      >
        <audio controls autoplay hidden>
          <source src="assets/background.mp3" type="audio/mpeg" />
        </audio>
        <div class="question-remain">
          <span class="fw-bold">
            Question {{ currentQuestion + 1 }} of
            {{ questionList?.questions?.length }}
          </span>
        </div>
      </ng-container>

      <ng-container
        *ngIf="!quizCompleted && questionList?.questions?.length === 0"
      >
        <div class="no-questions-message">
          <p>
            No questions are available at the moment. Please try again later.
          </p>
        </div>
      </ng-container>
    </div>

    <ng-container *ngIf="!quizCompleted && questionList?.questions?.length > 0">
      <div class="question mt-2">
        <div class="card">
          <h5>{{ questionList?.questions[currentQuestion]?.questionText }}</h5>
          <img
            src="{{ questionList?.questions[currentQuestion]?.image }}"
            ng-lazyload
            style="width: 250px; height: 150px"
          />
        </div>
      </div>

      <div class="options">
        <ol
          *ngFor="
            let option of questionList?.questions[currentQuestion]?.options
          "
        >
          <li (click)="checkAnswer(option)">
            <div class="card">
              {{ option?.text }}
            </div>
          </li>
        </ol>
      </div>
      <!-- <div class="d-flex justify-content-between">
        <ng-container
          *ngIf="currentQuestion !== questionList?.questions.length - 1"
        >
          <button
            [disabled]="currentQuestion === 0"
            class="btn btn-primary"
            (click)="previousQuestion()"
          >
            Previous
          </button>
          <button class="btn btn-success" (click)="nextQuestion()">Next</button>
        </ng-container>
        <ng-container
          *ngIf="currentQuestion === questionList?.questions.length - 1"
        >
          <button class="btn btn-success" (click)="finishQuiz()">Finish</button>
        </ng-container>
      </div> -->
    </ng-container>

    <ng-container *ngIf="quizCompleted">
      <audio controls autoplay hidden>
        <source src="assets/drum.mp3" type="audio/mpeg" />
      </audio>
      <div class="row d-flex justify-content-center">
        <div class="result text-center col-md-6 col-sm-12">
          <img
            src="https://myquest.blob.core.windows.net/img/handclap.gif"
            style="width: 25%"
          />
          <h4>Well Done! <br />You have completed the quiz</h4>
          <p>
            Total Question Attempted:
            <strong>{{ questionList?.questions?.length }}</strong>
          </p>
          <hr />
          <p>
            Total Correct Answered: <strong>{{ correctAnswer }}</strong>
          </p>
          <hr />
          <p>
            Total Wrong Answered: <strong>{{ incorrectAns }}</strong>
          </p>
          <hr />
          <p>
            Your Score: <strong>{{ points }}%</strong>
          </p>
          <hr />
          <p>
            Status: <strong>{{ status }}</strong>
          </p>
        </div>
        <div class="d-flex justify-content-center">
          <a routerLink="/welcome">
            <button class="btn btn-primary">Let's play again!</button>
          </a>
        </div>
      </div>
    </ng-container>
  </div>
</div>
