<div class="container mt-2">
  <div class="card">
    <div class="d-flex justify-content-between p-2">
      <div class="quiz-header">
        <h4>Malaysian Chronicles Quiz</h4>
        <span>MYQuest</span>
      </div>

      <ng-container *ngIf="!quizCompleted">
        <audio controls autoplay hidden>
          <source src="assets/background.mp3" type="audio/mpeg" />
        </audio>
        <div class="question-remain">
          <span class="fw-bold"
            >Question {{ currentQuestion + 1 }} of
            {{ questionList.length }}</span
          >
        </div>
      </ng-container>
    </div>

    <ng-container *ngIf="!quizCompleted">
      <div class="question mt-2">
        <div class="card">
          <h5>{{ questionList[currentQuestion]?.questionText }}</h5>
          <img
            src="{{ questionList[currentQuestion]?.image }}"
            ng-lazyload
            style="width: 250px; height: 150px"
          />
        </div>
      </div>

      <div class="options">
        <ol *ngFor="let option of questionList[currentQuestion]?.options">
          <li (click)="checkAnswer(currentQuestion + 1, option)">
            <div class="card">
              {{ option.text }}
            </div>
          </li>
        </ol>
      </div>
      <div class="d-flex justify-content-between">
        <!-- <button
          [disabled]="currentQuestion === 0"
          class="btn btn-primary"
          (click)="previousQuestion()"
        >
          Previous
        </button> -->

        <!-- <button class="btn btn-success" (click)="nextQuestion()">Next</button> -->
      </div>
    </ng-container>

    <ng-container *ngIf="quizCompleted">
      <audio controls autoplay hidden>
        <source src="assets/drum.mp3" type="audio/mpeg" />
      </audio>
      <div class="row d-flex justify-content-center">
        <div class="result text-center col-md-6 col-sm-12">
          <img src="assets/handclap.gif" style="width: 25%" />
          <h4>Well Done ! <br />You have completed the quiz</h4>
          <p>
            Total Question Attempted :<strong>
              {{ questionList.length }}</strong
            >
          </p>
          <hr />
          <p>
            Total Correct Answered :<strong> {{ correctAnswer }}</strong>
          </p>
          <hr />
          <p>
            Total Wrong Answered :<strong>{{ incorrectAns }}</strong>
          </p>
          <hr />
          <p>
            Your Score : <strong>{{ points }}</strong> Points
          </p>
          <hr />
          <p>
            Status : <strong>{{ status }}</strong>
          </p>
        </div>
        <div class="d-flex justify-content-center">
          <a routerLink="/welcome">
            <button class="btn btn-primary">Let's play again!</button>
          </a>
        </div>
      </div>
    </ng-container>
  </div>
</div>
