<div class="container bg-light py-3 mt-2 border rounded">
  <div class="centered">
    <h2 class="fw-bold">Welcome to MYQuest: Malaysian Chronicles Quiz</h2>

    <div class="video-container">
      <iframe
        src="https://www.youtube.com/embed/uZ3tB1UO1hM?autoplay=1&loop=1&playlist=uZ3tB1UO1hM"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </div>
    <p>
      Video Credit: Malaysia Truly Asia. (2015)
      <a href="https://www.youtube.com/watch?v=uZ3tB1UO1hM">[Youtube Video]</a>
    </p>
  </div>

  <h4>Attention, quiz-takers !</h4>
  <ol>
    <li>
      This quiz will test your knowledge of
      <b>Malaysia's culture, history</b> and <b>facts</b>
    </li>
    <li>
      There are a total of
      <b> {{ questionList?.questions?.length }} questions</b>, please
      <b>answer all questions</b>
    </li>
    <li>To pass the quiz, you must score at least <b>75%</b></li>
    <li>
      <b>Don't refresh the page, until you complete the quiz!</b> That will
      reset the quiz and you'll have to start all over again.
    </li>
  </ol>

  <hr />
  <h6>
    So sit back, relax and have fun! Let's see how much you know about Malaysia.
  </h6>
  <div class="name col-md-4 my-3">
    <button
      class="btn btn-success btn-lg"
      routerLink="/question"
      (click)="startQuiz()"
    >
      Let's get started !
    </button>
  </div>
</div>
