<div class="container bg-light py-3 mt-2 border rounded">
  <!-- <div style="display: flex; justify-content: center">
    <video width="460" height="275" controls autoplay loop>
      <source src="assets/video.mp4" type="video/mp4" />
    </video>
    <p>Video source: assets/video.mp4</p>
  </div> -->

  <div
    style="
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 24px;
    "
  >
    <h2 class="fw-bold">Welcome to MYQuest: Malaysian Chronicles Quiz</h2>

    <iframe
      width="430"
      height="240"
      src="https://www.youtube.com/embed/uZ3tB1UO1hM?autoplay=1&loop=1&playlist=uZ3tB1UO1hM"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
    <p>
      Video Credit: Malaysia Truly Asia. (2015)
      <a href="https://www.youtube.com/watch?v=uZ3tB1UO1hM">[Youtube Video]</a>
    </p>
  </div>
  <!-- <p class="col-md-8 fs-4">This quiz contains 15 questions</p> -->

  <h4>Attention, quiz-takers !</h4>
  <ol>
    <li>
      This quiz will test your knowledge of
      <b>Malaysia's culture, history</b> and <b>facts</b>
    </li>
    <li>
      There are a total of <b>15 questions</b>, each question worth
      <b>10 points</b>
    </li>
    <li>To pass the quiz, you must score at least <b>70 points</b></li>
    <li>
      <b>Don't refresh the page, until you complete the quiz!</b> That will
      reset the quiz and you'll have to start all over again.
    </li>
  </ol>

  <hr />
  <h6>
    So sit back, relax and have fun! Let's see how much you know about Malaysia.
  </h6>
  <div class="name col-md-4 my-3">
    <!-- <label for="">Enter your name:</label>
    <input #name type="text" class="form-control" placeholder="" /><br /> -->
    <button
      class="btn btn-success btn-lg"
      routerLink="/question"
      (click)="startQuiz()"
    >
      Let's get started !
    </button>
  </div>
</div>
